apiVersion: v1
kind: Service
metadata:
  name: backend-service
  namespace: waves
  annotations:
    cloud.google.com/backend-config: '{"default": "backend-config"}'
    cloud.google.com/neg: '{"ingress": true}'
spec:
  type: ClusterIP
  ports:
    - port: 5000
      targetPort: 5000
      protocol: TCP
      name: http
  selector:
    app: backend
