apiVersion: v1
kind: Service
metadata:
  name: frontend-service
  namespace: waves
  annotations:
    cloud.google.com/backend-config: '{"default": "frontend-config"}'
    cloud.google.com/neg: '{"ingress": true}'
spec:
  type: ClusterIP
  ports:
    - port: 80
      targetPort: 80
      protocol: TCP
      name: http
  selector:
    app: frontend
