apiVersion: v1
kind: Service
metadata:
  name: frontend-service
  namespace: waves
spec:
  type: LoadBalancer
  ports:
    - port: 3000
      targetPort: 80
      protocol: TCP
      name: http
  selector:
    app: frontend
